{% extends 'base.html' %}
{% block content %}
{% load cart_tag %}
        <!-- OffCanvas Menu End -->
        <!-- breadcrumb-area start -->
        
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="breadcrumb-title">Checkout</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Checkout</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        <!-- checkout area start -->
        <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
        <div class="checkout-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap">
                            <h3>Shipping Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>First Name</label>
                                        <input type="text" name="first_name" value="{{user.first_name}}" readonly/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" value="{{user.last_name}}" readonly/>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-4">
                                        <label>Street Address</label>
                                        <input class="billing-address" name="address" placeholder="House number and street name" type="text" required />
                                        
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-4">
                                        <label>Town / City</label>
                                        <input type="text" name="city" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>State</label>
                                        <input type="text" name="state" value="Optional"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Postcode</label>
                                        <input type="text" name="post" value="Optional"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Phone</label>
                                        <input type="text" name="phone" required />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Email Address</label>
                                        <input type="text" name="email" value="{{user.email}}" readonly/>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="checkout-account mb-30px">
                                <input class="checkout-toggle2 w-auto h-auto" type="checkbox" />
                                <label>Create an account?</label>
                            </div> {% endcomment %}
                            
                            <div class="additional-info-wrap">
                                <h4>Additional information</h4>
                                <div class="additional-info">
                                    <label>Order notes</label>
                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery. " name="message"></textarea>
                                </div>
                            </div>
                            {% comment %} <div class="checkout-account mt-25">
                                <input class="checkout-toggle w-auto h-auto" type="checkbox" />
                                <label>Ship to a different address?</label>
                            </div> {% endcomment %}
                            {% comment %} <div class="different-address open-toggle mt-30px">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>First Name</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>Last Name</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-select mb-4">
                                            <label>Country</label>
                                            <select>
                                                <option>Select a country</option>
                                                <option>Azerbaijan</option>
                                                <option>Bahamas</option>
                                                <option>Bahrain</option>
                                                <option>Bangladesh</option>
                                                <option>Barbados</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-4">
                                            <label>Street Address</label>
                                            <input class="billing-address" placeholder="House number and street name" type="text" />
                                            <input placeholder="Apartment, suite, unit etc." type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-4">
                                            <label>Town / City</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>State</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>Postcode</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>Phone</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-4">
                                            <label>Email Address</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-5 mt-md-30px mt-lm-30px ">
                        <div class="your-order-area">
                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-product-info">
                                    <div class="your-order-top">
                                        <ul>
                                            <li>Product</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>
                                    <div class="your-order-middle">
                                        <ul>
                                            {% for key,value in request.session.cart.items %}
                                            <li><span class="order-middle-left">{{value.name|truncatechars:20}} X {{value.quantity}}</span> <span
                                                class="order-price">{{value.price|multiply:value.quantity}} BDT</span></li> {% endfor %}
                                            
                                        </ul>
                                    </div>
                                    <div class="your-order-bottom">
                                        <ul>
                                            <li class="your-order-shipping">Shipping</li>
                                            <li>100 BDT</li>
                                        </ul>
                                    </div>
                                    <div class="your-order-total">
                                        <ul>
                                            <li class="order-total">Total</li>
                                            <li>{{cart_total_amount|add:100}} BDT</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion element-mrg">
                                        <div id="faq" class="panel-group">
                                            <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="false">Payment Method</a>
                                                    </h4>
                                                    <select name="method">
                                                        <option value="bkash">Bkash</option>
                                                        <option value="rocket">Rocket</option>
                                                        <option value="nagad">Nagad</option>
                                                    </select>
                                                </div>
                                                {% comment %} <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <h6>Please make payment to our account and insert your payment details in the field below.</h6>
                                                        <p><b>Bkash Agent :&nbsp;&nbsp;&nbsp;  </b>01781355377</p>
                                                        <br>
                                                        <div class="checkout-account mb-30px">
                                                            <input class="checkout-toggle2 w-auto h-auto" type="checkbox" />
                                                            <label>Pay with Bkash</label>
                                                        </div>
                                                        <div class="checkout-account-toggle open-toggle2 mb-30">
                                                            <p>CashOut {{cart_total_amount|add:100}} BDT to our Bkash agent number</p>
                                                            <div class="col-auto">
                                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Your Bkash Number">
                                                            </div>
                                                            
                                                            <div class="col-auto">
                                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Trans ID">
                                                            </div>
                                                        </div>
                                                        <div class="checkout-account mb-30px">
                                                            <input class="checkout-toggle w-auto h-auto" type="checkbox" />
                                                            <label>Cash on delivery</label>
                                                        </div>
                                                        <div class="checkout-account-toggle open-toggle mb-30">
                                                            <p>Send 100 BDT to our Bkash agent number</p>
                                                            <div class="col-auto">
                                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Your Bkash Number">
                                                            </div>
                                                            
                                                            <div class="col-auto">
                                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Trans ID">
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                            {% comment %} <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="true" class="collapsed">Bkash payments</a></h4>
                                                </div>
                                                <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <p>Please send a check to Store Name, Store Street, Store Town,
                                                            Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}
                                            <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    {% comment %} <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-3">Cash on delivery</a></h4> {% endcomment %}
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Place-order mt-25">
                                <a class="btn-hover" href=""><button type="submit" class="text-white">Continue</button> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!-- checkout area end -->
{% endblock content %}