<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        h1{
            background: blue;
            text-align: center;
            padding: 5px;
            color: white;
        }
        p{
            font-weight: 500;
        }
    </style>
</head>
<body>
    <h1>Order placed</h1>
    <p>Dear {{ user}}, Your order has been placed</p>
    <p>Please wait for a phone call, Our sales representitve will call you soon</p>
</body>
</html>