{% load static %}
        <!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="index.html"> <h2>Sarker Shop</h2> </a>
                                    </div>
                                    <p class="about-text">Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ incididunt ut labore
                                    </p>
                                    <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Services</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="#">My Account</a></li>
                                                <li class="li"><a class="single-link" href="#">Contact</a></li>
                                                <li class="li"><a class="single-link" href="#">Shopping cart</a></li>
                                                <li class="li"><a class="single-link" href="#">Shop</a></li>
                                                <li class="li"><a class="single-link" href="#">Services Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">My Account</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="#">My Account</a></li>
                                                <li class="li"><a class="single-link" href="#">Contact</a></li>
                                                <li class="li"><a class="single-link" href="#">Shopping cart</a></li>
                                                <li class="li"><a class="single-link" href="#">Shop</a></li>
                                                <li class="li"><a class="single-link" href="#">Services Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Contact Info</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        <p class="address">Address: Bottrish, Kishoreganj</p>
                                        <p class="phone">Phone:<a href="tel:0123456789"> 01781355377</a></p>
                                        <p class="mail">Email:<a href="mailto:nileshsrk94@gmail.com"> nileshsrk94@gmail.com</a></p>
                                    
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-end">
                                    <br>
                                    <div class="payment-mth">
                                        <a href="#">
                                            <img class="img img-fluid" src="{% static 'store/images/payment2.png' %}" alt="payment-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2022 <strong>SarkerShop</strong> Made With <i class="fa fa-heart"
                                        aria-hidden="true"></i> By <a class="company-name" href="https://facebook.com/samircd4">
                                            <strong> Samir </strong></a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>
    
    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <script src="{% static 'store/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'store/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'store/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'store/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'store/js/plugins/jquery.countdown.min.js' %}"></script>

    <script src="{% static 'store/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'store/js/plugins/scrollUp.js' %}"></script>
    <script src="{% static 'store/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'store/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'store/js/plugins/mailchimp-ajax.js' %}"></script>

    <!-- Minify Version -->
    <script src="{% static 'store/js/vendor.min.js' %}"></script>
    <script src="{% static 'store/js/plugins.min.js' %}"></script>
    <script src="{% static 'store/js/main.min.js' %}"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="{% static 'store/js/main.js' %}"></script>
</body>


<!-- Mirrored from template.hasthemes.com/hmart/hmart/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Sep 2021 18:04:06 GMT -->
</html>